<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form action="login.html/login-caller" method="get">

        <input type="checkbox" id="dev" name="ent" value="dev">
        <label for="dev">Dev</label><br>
        <input type="checkbox" id="vownet" name="ent" value="vownet">
        <label for="vownet">Vownet</label><br>
        <input type="checkbox" id="ioutsource" name="ent" value="ioutsource">
        <label for="ioutsource">Ioutsource</label>

        <div class="input submit">
            <input type="submit" value="Submit"></div>
    </form>

</body>
</html>
